//#################################################
// Variables
//#################################################

// Breakpoints
$screen-small: max-width 767px;
$screen-medium: 768px 1023px;
$screen-large: min-width 1024px;